header{
	background-color: #555454;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;	
}

body{
	background-color: rgb(226, 225, 225);
}

*{
	margin:0%;
	padding:0%;
	box-sizing: border-box;
	font-size: "Open Sans";
}

html{
	scroll-behavior: smooth;
	
}
	
nav{
	width: 100%;
	position: relative;
	background: (rgb(44, 0, 0),transparent);
	text-align: center;
	
	
}

nav ul li{
	display:inline-block;
	margin-top: 40px;
}	

nav ul li a{
	text-decoration: none;
	padding: 5px 0;
	display: inline-block;
	margin: 15px 10px;
	color: rgb(255, 255, 255);
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 3px solid transparent;
	transition: all 0.25s ease-in-out;
	font-size: 22px;
}	

nav ul li:hover{
	border-bottom: 3px solid #ffffff;	
}

#logo{
	display: flex;
}

.container img{
	display: flex;
	margin: 50px 200px 50px 800px;	
	align-items: center;
}

footer{
	background-color: #555454;
	text-decoration: none;	
	color: rgb(255, 255, 255);
	font-weight: 700;
	font-size: 22px;
	text-align: center;
	height: 350px;
}

#dois {
	margin: 22px;
	margin-bottom: 22px;
}

#dois p{
	margin-top: 30px;
}

div a{
	color: rgb(255, 255, 255);
}

.logofooter img{
	width: 100px;
	height: 100px;
	margin-top: 10px;
}


 





